<?xml version="1.0"?>
<launch>
  <!-- gazebo default world file -->
  <arg name="world_file" default="$(find saturnbot_simulator)/worlds/playground.world" />
  <param name="/use_sim_time" value="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="$(arg world_file)"/>
  </include>
  <arg name="model" default="$(find saturnbot_description)/robot/saturnbot_astra.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -z 0.1 -model robot_model" respawn="false" output="screen" />

  <!-- Fake laser -->
  <!-- Run the depthimage_to_laserscan node -->
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
      <param name="output_frame_id" value="camera_depth_frame"/>
      <remap from="image" to="/camera/depth/image_raw"/>
      <remap from="camera_info" to="camera/depth/camera_info"/>
      <remap from="scan" to="/scan"/>
  </node>
</launch>
